* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #020631;
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.app .mainHeading h1 {
  text-align: center;
}

.subHeading {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app h1,
h2 {
  color: white;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .input {
  margin-top: 0.8em;
  width: 30em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 2em;
  border-color: transparent;
  outline-color: transparent;
  padding-left: 1rem;
  font-size: 20px;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.todos ul li{
  background-color: #fff;
  list-style: none;
  padding: 10px;
  width: 20em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 5px;
  margin-top: 2px;
  font-size: 20px;
}

.listEdit p{
  font-size: 13px;
  margin-top: 2px;
}

.editing{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.editing input{
  width: 20px;
  height: 20px;
}

.editing i{
  font-size: 1.2rem;
}

.crossed{
  text-decoration: line-through;
}
 
.draft{
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.draft-list{
  width: 100%;
  background-color: #fff;
  color: #020631;
  padding-left: 1rem;
}

.draft-list p{
  font-size: 13px;
}


